!build.sh
**/*.asc
**/*.code-workspace
**/*.config.json
**/*.egg-info
**/*.log
**/.*cache
**/.coverage*
**/.vscode
**/__pycache__
**/config.py
**/test-coverage
*.code-workspace
*.egg-info
*.env
*.log
*.tf
.*cache
.config.json
.coverage*
.devcontainer
.eggs
.env
.gitmodules
.ipynb_checkpoints
.junit.xml
.local
.python-version
.terraform*
.tags
.venv
.vscode
.vscode-ctags
.wiki
build*
compose
config.py
coverage.xml
dist
htmlcov
logs
media
static
test-coverage
