!build.sh
**/*.asc
**/*.code-workspace
**/*.config.json
**/*.egg-info
**/*.log
**/.*cache
**/.coverage*
**/.vscode
**/__pycache__
**/config.py
**/test-coverage
*.code-workspace
*.egg-info
*.env
*.log
*.tf
.*cache
.config.json
.coverage*
.devcontainer
.eggs
.env
.gitmodules
.ipynb_checkpoints
.terraform*
.venv
.vscode
.wiki
build*
compose
config.py
coverage.xml
db
dist
htmlcov
logs
media
nginx
static
test-coverage
