#!/bin/sh

# Summary: Export the variables in `.env` to the current shell; for use with
#   direnv (https://direnv.net/)
# Created: Thu Sep 30 12:50:00 EDT 2021
# Author:  Bryant Finney (https://bryant-finney.github.com/about)

# if a `.env` file doesn't exist, create it from the base one
test -f .env || cp base.env .env

test -f config.yml || cp config/dev-config.yml ./config.yml

# source the environment variables
# shellcheck disable=SC2046
test -f .env &&
    grep -qE '^[^# ][^#]*$' .env &&
    export $(grep -E '^[^# ][^#]*$' .env | xargs)

command -v pyenv >/dev/null &&
    pyenv versions --bare | sort --reverse --version-sort >.python-version

# install dependencies to a virtual environment
test -d "$(poetry env info -p)" || poetry install

# shellcheck disable=SC1091
test -n "$(poetry env info -p)/bin/activate" && . "$(poetry env info -p)/bin/activate"

poetry env info

pre-commit install

# NOTE: for more information see https://github.com/direnv/direnv/wiki/PS1
unset PS1

canary_aliases='
dev_compose() {
    docker-compose -f docker-compose.yml -f compose/dev.yml $@
}
alias dev-compose=dev_compose
'

export CANARY_ALIASES="$canary_aliases"
